{{#each this}}
  <div class='country-info__headline'>
    <img
      src='{{formatIfNone coatOfArms.svg}}'
      alt='flaf of {{name.official}}'
      width='20px'
    />
    <h2 class='country-info__title'>{{name.official}}</h2>
  </div>
{{/each}}